<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recharge.bookmark.dao.BookmarkDAO">

    <!-- 1. 북마크 존재 여부 -->
    <select id="existsBookmark" resultType="int">
        SELECT COUNT(*)
        FROM TB_BOOKMARK
        WHERE USER_ID = #{userId}
        AND BOOKMARK_TARGET_TYPE = #{bookmarkTargetType}
        AND BOOKMARK_TARGET_ID = #{bookmarkTargetId}
    </select>

    <!-- 2. 북마크 등록 -->
    <insert id="insertBookmark">
        <selectKey keyProperty="bookmarkId" resultType="long" order="BEFORE">
            SELECT SEQ_BOOKMARK.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO TB_BOOKMARK (
        BOOKMARK_ID,
        BOOKMARK_TARGET_TYPE,
        BOOKMARK_TARGET_ID,
        USER_ID,
        CREATE_DATE,
        CREATE_ID,
        UPDATED_DATE,
        UPDATED_ID
        ) VALUES (
        #{bookmarkId},
        #{bookmarkTargetType},
        #{bookmarkTargetId},
        #{userId},
        SYSDATE,
        #{userId},
        SYSDATE,
        #{userId}
        )
    </insert>

    <!-- 3. 북마크 삭제 -->
    <delete id="deleteBookmark">
        DELETE FROM TB_BOOKMARK
        WHERE USER_ID = #{userId}
        AND BOOKMARK_TARGET_TYPE = #{bookmarkTargetType}
        AND BOOKMARK_TARGET_ID = #{bookmarkTargetId}
    </delete>

    <!-- 4. 유저 북마크 카드 조회 (⭐ 핵심) -->
    <select id="selectUserBookmarks"
            parameterType="string"
            resultType="com.recharge.bookmark.vo.BookmarkVO">

        SELECT
        B.BOOKMARK_ID,
        B.BOOKMARK_TARGET_TYPE   AS bookmarkTargetType,
        B.BOOKMARK_TARGET_ID     AS bookmarkTargetId,

        M.MOVIE_ID               AS movieId,
        M.MOVIE_TITLE            AS title,
        M.MOVIE_POSTER           AS image,


        MP.MOVIE_POST_ID         AS moviePostId,
        MP.MOVIE_POST_TITLE      AS moviePostTitle,


        MU.MUSIC_ID              AS musicId,
        MU.MUSIC_SINGER          AS musicSinger,
        MU.MUSIC_TITLE           AS musicTitle,
        MU.MUSIC_IMAGE_PATH      AS musicImagePath,


        ML.MUSIC_LIST_ID         AS musicListId,
        ML.MUSIC_ID              AS listMusicId,
        ML.MUSIC_TITLE           AS listMusicTitle,
        ML.MUSIC_SINGER          AS listMusicSinger,
        ML.MUSIC_IMAGE_PATH      AS listMusicImage

        FROM TB_BOOKMARK B


        LEFT JOIN TB_MOVIE M
        ON B.BOOKMARK_TARGET_TYPE = 'movie'
        AND B.BOOKMARK_TARGET_ID = M.MOVIE_ID


        LEFT JOIN TB_MOVIE_POST MP
        ON B.BOOKMARK_TARGET_TYPE = 'moviepost'
        AND B.BOOKMARK_TARGET_ID = MP.MOVIE_POST_ID

        LEFT JOIN TB_MOVIE M2
        ON MP.MOVIE_ID = M2.MOVIE_ID


        LEFT JOIN TB_MUSIC MU
        ON B.BOOKMARK_TARGET_TYPE = 'music'
        AND B.BOOKMARK_TARGET_ID = MU.MUSIC_ID

        LEFT JOIN TB_MUSIC_LIST ML
        ON B.BOOKMARK_TARGET_TYPE = 'musiclist'
        AND B.BOOKMARK_TARGET_ID = ML.MUSIC_LIST_ID

        WHERE B.USER_ID = #{userId}
        ORDER BY B.CREATE_DATE DESC
    </select>

</mapper>
